<div class="section">

</div>

<footer class="footer">

  <div class="content has-text-centered">
    <p>
      <strong>Heimdallr</strong> Coded with <i class="fas fa-heart"></i>, this project is <strong>open source</strong>. <br>
      Noticed a typo or unexpected error? <a href="https://github.com/Jotunn-Development/heimdallr_website/issues">Improve this page on GitHub <i class="fab fa-github"></i></a> <br>
      © 2018-2020 VulgarBear#2617/Jotunn Development

      <p></p>
      <img src="https://bulma.io/images/made-with-bulma.png" width="149" height="28">
      <img src="https://img.shields.io/badge/discord-js-blue.svg?style=for-the-badge" max-width=28px>
      <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/Jotunn-Development/Heimdallr?style=for-the-badge">
      <img alt="GitHub issues" src="https://img.shields.io/github/issues-raw/Jotunn-Development/heimdallr?style=for-the-badge">
    </p>
  </div>

</footer>