<!DOCTYPE html>
<html>

    <%- include('../partials/head.ejs') %>

  <body>

    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcenter">
            <div class="column is-5 mr-6">
              <h1 class="title is-light is-title is-size-1 has-text-weight-bold">Heimdallr, Ever Watching</h1>
              <p class="subtitle is-4 has-margin-top-20 is-family-primary">
                Discord bot that you can utilize for community engaugement, NSFW deviants, server moderation, and much more.
              </p>
              <div>
                <a href="https://top.gg/bot/391050398850613250/invite">
                  <button class='button is-primary is-large is-rounded mr-2'>
                    <i class="fas fa-external-link-alt"></i><strong>Invite Heimdallr</strong>
                  </button>
                </a>
                <a href="https://top.gg/bot/391050398850613250/invite">
                  <button class="button is-primary is-large is-rounded">
                    <i class="fas fa-external-link-alt mr-2"></i> <strong>Support Server</strong>
                  </button>
                </a>
              </div>
              <div class="columns is-vcenter">
              </div>
            </div>
            <div class="column is-3 has-text-centered ml-6">
              <figure class="image">
                  <img src="/static/images/viking.png" alt="Viking Friend" width="200" height="200" alt="Viking Friend">
              </figure>
           </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta section">
      <p class="has-text-centered is-size-6">
          <span class="tag is-danger">
              Disclaimer
          </span>
          <span style="color:#9D8D8F" class="is-size-7">
              Heimdallr (the bot) has never been formally certified to warn of the Ragnarök. Please keep
              a close watch out for supernaturally large snakes, fen dwellers, and mischievous gods.
          </span>
      </p>
    </section>

  </body>

  <%- include('../partials/footer.ejs') %>

</html>

<script>
</script>