@charset "utf-8";

// Brand Colors
$yellow: #FAED26;
$black-purple: #231a27;
$darker-purple: #2a1f2f;
$dark-purple: #312437;
$gray: #5A5560;
$light-brown: #9D8D8F;
$brown: #9B786F;
$light-purple: #edebed;
$white: #FFFFFF;


// Sticky Footer
html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  padding: 20px;
}

// Update global variables
$primary: $yellow;
$dark: $gray;
$light: $light-purple;
$link: $yellow;
$link-focus: $yellow;
$panel-block-active-color: $gray;
$text-strong: $light-purple;

// Navbar
$navbar-background-color: $black-purple;
$navbar-item-color: $yellow;
$navbar-item-hover-color: $dark-purple;
$navbar-item-hover-background-color: $light-purple;
$navbar-dropdown-background-color: $dark-purple;
$navbar-dropdown-border-top: $yellow;
$navbar-box-shadow-size: 20 20 20 20;
$navbar-box-shadow-color: $yellow;

.content code {
  background-color: $darker-purple;
  color: $yellow;
}

// Menu
$menu-label-color: $light-purple;
$menu-item-color: $light-purple;
$menu-item-hover-color: $dark-purple;

// Body
$body-background-color: $dark-purple;

// Title
$title-color: $light-purple;
$subtitle-color: $light-purple;

// Footer
$footer-background-color: $darker-purple;
$footer-color: $light-purple;
$footer-padding: 1.0rem 1.5rem .5rem;

// Import Bulma
@import "../../../node_modules/bulma/bulma.sass";